{% extends 'back_office_views/base.html' %}

{% block content %}
    <div class="page-header">
        raporty:
    </div>
    <div class="list-group dl-horizontal">
        <a href="{{ url_for('reports', report='day') }}" class="list-group-item">dzienny</a>
        <a href="{{ url_for('reports', report='week') }}" class="list-group-item">tygodniowy</a>
        <a href="{{ url_for('reports', report='month') }}" class="list-group-item">miesięczny</a>
        <a href="{{ url_for('reports', report='year') }}" class="list-group-item">roczny</a>
    </div>

    {% if report_list %}
        {% for report in report_list %}
            <ul class="list-inline">
                <li class="list-group-item"> {{ report[0] }} </li>
                <li class="list-group-item"> {{ report[1] }} </li>
                <li class="list-group-item"> {{ report[2] }} </li>
                <li class="list-group-item"> {{ report[3] }} </li>
            </ul>
        {% endfor %}
    {% endif %}


{% endblock %}