{% extends 'back_office_views/base.html' %}

{% set item_class = 'list-group-item col-lg-3' %}

{% block content %}

    {% if report_list %}
        <ul class="list-inline">
            <li class="{{ item_class }} list-group-item-action active"> data </li>
            <li class="{{ item_class }} list-group-item-action active"> sprzedane </li>
            <li class="{{ item_class }} list-group-item-action active"> dochód </li>
            <li class="{{ item_class }} list-group-item-action active"> średnia cena </li>
        </ul>

        {% for report in report_list %}
            <ul class="list-inline">
                {% for col in report %}
                    <li class="{{ item_class }}"> {% if col %} {{ col }} {% endif %} </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <div class="page-header">
            <h4>raporty:</h4>
        </div>
        <div class="list-group col-lg-3">
            <a href="{{ url_for('reports', report='day') }}" class="list-group-item">dzienny</a>
            <a href="{{ url_for('reports', report='week') }}" class="list-group-item">tygodniowy</a>
            <a href="{{ url_for('reports', report='month') }}" class="list-group-item">miesięczny</a>
            <a href="{{ url_for('reports', report='year') }}" class="list-group-item">roczny</a>
        </div>
    {% endif %}


{% endblock %}