<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" >
    <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"> <a class="navbar-brand" href="{{ url_for('home') }}">WebSiteName</a> </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home') }}">strona główna</a></li>
            <li><a href="{{ url_for('search_flight') }}">szukaj lotów</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Wyloguj </a></li>
            {% else %}
                <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Zarejestruj się </a></li>
                <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj </a></li>
            {% endif %}
        </ul>
    </div>
</nav>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>