{% extends 'customer_views/base.html' %}
{% from '_formhelpers.html' import render_field %}
{% from '_flighthelpers.html' import render_list %}

{% block title %}
    szukaj lotów
{% endblock %}

{% block content %}


    <form method="POST" action="" role="form" class="col-lg-3">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            <div class="search">
                {{ render_field(form.airport_from) }}
                <ul class="list-group search-results" style="position: absolute; text-align: center;"></ul>
            </div>
            <div class="search">
                {{ render_field(form.airport_to) }}
                <ul class="list-group search-results" style="position: absolute; text-align: center;"></ul>
            </div>
            {{ render_field(form.departure_date) }}
        {% endif %}
        <button type="submit" class="btn btn-default">szukaj</button>
    </form>


    <div class="pull-right col-lg-8">
        {{ render_list(flights, 'na ten dzień', 'brak lotów') }}
        {{ render_list(prev_flights, 'wcześniejsze loty (7 dni)', 'brak lotów') }}
        {{ render_list(next_flights, 'późniejsze loty (7 dni)', 'brak lotów') }}
    </div>


{% endblock %}
